
    .low-importance { background-color: #99D6B5; }
    .medium-importance { background-color: #FEF7E7; }
    .high-importance { background-color: #FFD3D0; }
    .none-importance { background-color: #bebebe; }


