@{
    ViewData["Title"] = "Landing Page";
}

<div class="container mt-5 d-flex align-items-center justify-content-center" style="transform: translate(0%, 50%);">
    <div class="flex-shrink-0">
        <img src="/materials/landingCat.png" class="img-fluid" alt="LandingCat" style="scale: 160%">
    </div>
    <div class="ms-4">
        <h1 class="display-4">Welcome to Online Library</h1>
        <p class="lead">Find It Online, Grab It In-Person ~ <b>Library Reservations Made Easy</b> </p>
    </div>
</div>