@{
    Layout = "_Layout";
}

<section class="vh-80">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="/materials/stopCat.pnx" class="img-fluid" alt="(=^･ω･^=)" style="scale: 200%">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h1 class="fw-bolder mb-3">Please log in</h1>
                <a href="@Url.Action("Login", "User")" class="btn btn-primary btn-lg btn-block">Go to Login</a>
            </div>
        </div>
    </div>
</section>