.d-flex {
    display: flex;
    align-items: center;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.form-group {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.btn-success {
    margin-left: 50px;
}