.d-flex {
    display: flex;
    align-items: center;
}

.form-group {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.btn-success, .btn-outline-dark, .btn-outline-success {
    margin-left: 50px;
}
