body{
  background-color: #edf1f5;
  margin-top:20px;
  margin-bottom: 60px;
}
/*TODO in books list add white bg as to the card in details.css*/

.navHeader{
  margin-bottom: 65px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.logoutCatImg {
  margin-left: 95vw;
  margin-top: -14.5vh;
  scale: 1.5;
}

.img {
  z-index: -100;
  position: sticky;
}